<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Call Back</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body class="messages">
    <div class="row">
  <div class="column" style="background-color:#FCDED7;">
    <!-- <div class="col-sm-6"> -->
      <h3>Messages</h3>
      <ul class="messages">
      <% for(var i=0; i<messages.length; i++) {%>
          <% if (!messages[i].callBack) { %>
        <li class="message">
          <span><%= messages[i].name %></span>
          <span><%= messages[i].msg %></span>
          <!-- date internal function passing in date now that converts milli seconds of call time to a date  -->
          <span><%= messages[i].calltime %></span>
          <button class="replied" type="button" name="button" value="<%=messages[i]._id%>">Replied</button>
        </li>
        <% } %>
      <% } %>

      </ul>
      </div>
      <div class="column" style="background-color:#bbb;">

      <h3>Replied</h3>
      <ul class="messages">

      <% for(var i=0; i<messages.length; i++) {%>
          <% if (messages[i].callBack) { %>
        <li class="message2">
          <span><%= messages[i].name %></span>
          <span><%= messages[i].msg %></span>
          <!-- date internal function passing in date now that converts milli seconds of call time to a date  -->
          <span><%= messages[i].calltime %></span>
          <!-- <button class="replied" type="button" name="button" >Replied</button> -->
          <span data-id="<%=messages[i]._id%>"><i class="fa fa-trash" aria-hidden="true"></i></span>
        </li>
        <% } %>
      <% } %>

      </ul>


      </div>

    <script src="messages.js"></script>
  </body>

</html>
